<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{ "APP.TITLE" | translate }}</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav [mode]="over">
    <mat-list>
      <mat-list-item
        *ngFor="let profile of profiles"
        (click)="selectProfile(profile); snav.toggle()"
        >{{ profile }}</mat-list-item
      >
    </mat-list>
    <button mat-button (click)="addProfile(); snav.toggle()">
      {{ 'PAGES.HOME.ADD_PROFILE' | translate }}
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card *ngIf="!currentProfile">
      {{ 'PAGES.HOME.SELECT_OR_CREATE_PROFILE' | translate }}
    </mat-card>
    <profile
      *ngIf="currentProfile"
      [profile]="currentProfile"
      (update)="onUpdate($event)"
      (log)="onLog($event)"
    >
    </profile>
    <log [log]="getLog()"></log>
  </mat-sidenav-content>
</mat-sidenav-container>
