<mat-card *ngIf="profile">
  <h1>{{profileName.value}}</h1>
  <section>
    <mat-form-field>
      <input matInput placeholder="{{ 'PAGES.HOME.PROFILE.NAME' | translate }}" [formControl]="profileName" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'PAGES.HOME.PROFILE.ADDRESS' | translate }}" [formControl]="address" />
    </mat-form-field>
  </section>
  <section>
    <mat-checkbox
      #oauth
      (change)="changeOAuthToggle(oauth.checked)"
      [checked]="oAuth"
      >OAuth?</mat-checkbox
    >
  </section>
  <section *ngIf="oauth.checked">
    <mat-form-field>
      <input matInput placeholder="{{ 'PAGES.HOME.PROFILE.CLIENT_ID' | translate }}" [formControl]="clientId" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'PAGES.HOME.PROFILE.CLIENT_SECRET' | translate }}" [formControl]="clientSecret" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'PAGES.HOME.PROFILE.AUTHZ_URL' | translate }}" [formControl]="authUrl" />
    </mat-form-field>
  </section>
  <button mat-button (click)="saveProfile()">
    {{ 'PAGES.HOME.PROFILE.SAVE' | translate }}
  </button>
  <button mat-button (click)="deleteProfile()">
    {{ 'PAGES.HOME.PROFILE.DELETE' | translate }}
  </button>
  <button mat-button (click)="status()">
    {{ 'PAGES.HOME.PROFILE.STATUS' | translate }}
  </button>
</mat-card>
<mat-card>
  <h2>Workflows</h2>
  <mat-form-field>
    <mat-label>{{ 'PAGES.HOME.PROFILE.WORKFLOWS' | translate }}</mat-label>
    <mat-select (selectionChange)="changeWorkflowSelection($event)">
      <mat-option *ngFor="let workflow of profile.workflows" [value]="workflow">
        {{workflow.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addWorkflow()">
    {{ 'PAGES.HOME.PROFILE.ADD_WORKFLOW' | translate }}
  </button>
  <workflow *ngIf="currentWorkflow" [profile]="profile" [workflow]="currentWorkflow"></workflow>
</mat-card>
